

<!-- footer -->
<!-- Footer section starts here -->
<footer id="Footer">
  <div class="container text-center">
    <div class="footer-text ">
      <div class="row" style="margin-bottom: 25px;">
        <div style="text-align: center;"class="col-12">
          <p class="designed" style="font-size: 150%; text-align: center;"><b>For booking a service or any other query <a href="book_a_service.html" style="font-size: 130%;">Contact Us</a> </b></p>
          <br>
          <p class="designed" style="font-size: 130%; text-align: center;"><i class="fas fa-thumbs-up"></i>&nbsp;	 Like us on <a href="https://www.facebook.com/" target="_blank" style="font-size: 130%; color: #4267B2 ;">Facebook</a></p>
        </div>
      </div>    
      <div class="row" style="text-align: left;">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: white; text-align: left;">Delman Service Centre</h5>
          <p style="text-align: justify;">Here at Delman, we value your time and money
            both. These are the most valuables assets for us.
            We believe in quality of work in the most
            appropriate manner possible. Our trained 
            mechanics perform all the necessary steps 
            to get your engine tested and running.
          </p>
  
        </div>
        <!-- Grid column -->  

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" style="text-align: center;">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: white;">BRANCH ADDRESS</h5>
  
          <ul class="list-unstyled">
            <li style="line-height: 25px;">
              <a style="color: white;" href="book_a_service.html#gmap"><i class="fas fa-map-marker-alt"></i>&nbsp; Address : &nbsp; VIC 3000   </a>
            </li>
            <li style="line-height: 25px;">
              <a style="color: white;" href="tel:+91-1234567890"> <i class="fa  fa-phone"></i> &nbsp; Phone No. :  &nbsp; +1234567890</a>
            </li>
            <li style="line-height: 25px;">
              <a style="color: white;" href="mailto:admin@delman.com.au"><i class="far fa-envelope"></i> &nbsp; Email Address : &nbsp; admin@delman.com.au</a>
            </li>
            <li style="line-height: 25px;">
              <a style="color: white;">Open Hours :</a> <br>
              <a style="color: white;"> Mon to Fri : 11:00am – 11:30pm </a> <br>
              <a style="color: white;">Sat – Sun : 14:00am – 11:30pm</a>
            </li>
          </ul>
  
        </div>
        <div class="col-xl-7 col-lg-12 col-md-12"  style="margin: 15px auto;" >
          <div id="navbar_menu" style="text-align: center !important; margin: 0px !important;">
            <ul class="designed" style="text-align: center !important;">
              <!-- <li> <a class="font-weight-bold text-uppercase" style="color: white;  text-align: center !important; padding: 5px 10px !important;">QUICK LINKS :</a></li> -->
              <li> <a class="active" href="index.html" style="color: white;  padding: 5px 10px !important;">Home</a></li>
              <li><a href="index.html#about" style="color: white;  padding: 5px 10px !important;">About Us</a></li>
              <li><a href="index.html#wcu" style="color: white;  padding: 5px 10px !important;">Why Choose Us</a></li>
              <li> <a href="service.html" style="color: white;  padding: 5px 10px !important;">Services</a></li>
              <li> <a href="career.html" style="color: white;  padding: 5px 10px !important;">Careers</a></li>
              <li><a href="book_a_service.html" style="color: white;  padding: 5px 10px !important;">Contact Us</a></li>
            </ul>
          </div>
          </div>
      </div>
    </div>
  </div>
</footer>
<footer id="Footer" class="bottomFooter" style="padding-top: 0px; padding-bottom: 5px;">
  <div class="container text-center">
    <div class="footer-text ">
      <div class="row" style="padding-top: 10px;">
        <div class="col-12">
          <!-- <div class="copy-right"> -->
            <div class="copy-right">
              <p style="text-align: center !important;">© Delman Service Centre</p>
            </div>
                      <!-- </div> -->
          <p class="designed" style="text-align: center !important;">Designed and Developed by <a href="https://rsktechlabs.com/" target="_blank">RSK Tech Labs</a></p>
        </div>
      </div>
      </div>
      </div>
    </footer>
<!-- Footer section ends here -->
<!-- Footer section ends here -->
<!-- js section -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- menu js -->
<script src="js/menumaker.js"></script>
<!-- wow animation -->
<script src="js/wow.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!--Back to top-->
<script src="js/float-panel.js"></script>
<!-- revolution js files -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<!--Floating WhatsApp css-->
<link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">
<!--Floating WhatsApp javascript-->
<script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>
<script src="js/float-whatsapp.js"></script>
<script src="js/bootstrap-hover-tabs.js"></script>
<script>
  $(document).ready(function() {
      // Cache selectors for faster performance.
      var $window = $(window),
          $mainMenuBar = $('#mainMenuBar'),
          $mainMenuBarAnchor = $('#mainMenuBarAnchor');
  
      // Run this on scroll events.
      $window.scroll(function() {
          var window_top = $window.scrollTop();
          var div_top = $mainMenuBarAnchor.offset().top;
          if (window_top > div_top) {
              // Make the div sticky.
              $mainMenuBar.addClass('stick');
              $mainMenuBarAnchor.height($mainMenuBar.height());
          }
          else {
              // Unstick the div.
              $mainMenuBar.removeClass('stick');
              $mainMenuBarAnchor.height(0);
          }
      });
  });
  </script>

  <script>
    ///<reference path="../bower_components/jquery/dist/jquery.js" />
(function($, window, document, undefined) {
  'use strict';
  var animationObject;

  function addAnimation() {
    animationObject.each(function(index, element) {
      var $currentElement = $(element),
        animationType = $currentElement.attr('animation-type');

      if (onScreen($currentElement)) {
        $currentElement.addClass('animated ' + animationType);
      }
    });
  }

  // takes jQuery(element) a.k.a. $('element')
  function onScreen(element) {
    // window bottom edge
    var windowBottomEdge = $(window).scrollTop() + $(window).height();

    // element top edge
    var elementTopEdge = element.offset().top;
    var offset = 100;

    // if element is between window's top and bottom edges
    return elementTopEdge + offset <= windowBottomEdge;
  }

  $(window).load(function() {
    animationObject = $('[animation-type]');
    addAnimation();
  });

  $(window).on('scroll', function(e) {
    addAnimation();
  });
})(jQuery, window, document);
  </script>

</body>
</html>